body {
    font-size: 18px;
    background-color: blanchedalmond;
    padding-top:80px;
}
nav{
    background-color: #212529;
}
/* color of navbar links */
.navbar-dark .navbar-nav .nav-link{
    color:blanchedalmond;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}